/* Add a black background color to the top navigation */
.topnav {
  background-color: darkslategrey;
  overflow: hidden;
  position: relative;
  z-index: 10000;
  margin-bottom: 1rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: darkgrey;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: lightslategray;
  color: white;
  font-weight: bold;

}

.welcome-info-container {
  position: relative;
  width: 10%;
}
