button.view, .button-view {
  backface-visibility: hidden;
  background-color: darkgreen;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  vertical-align: top;
}

.button-view:hover, button.view:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
