<h1 mat-dialog-title>"取消隐藏"操作确认</h1>
<div mat-dialog-content>
  <!--  <p class="promise">相关规格会暂时保留，如需找回，再次添加同样编码的配件即可。</p>-->
  <p>确定要取消以下规格的隐藏吗（它将会重新出现在配件相应的规格列表中）？</p>
  <div class="flex-container">
    <p class="subtitle piece">{{data.spec.id}}</p>
    <p class="subtitle piece">{{data.spec.vendor?.name}}</p>
    <p class="record piece">{{data.spec.component_name}}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onConfirmUnhide()">取消隐藏</button>
  <button mat-button mat-dialog-close>返回</button>
</div>
