.salary-summary-container,.salary-work-container {
  margin-top: 5px;
  margin-bottom: 5px;
}


.salary-work-container {
  border: solid grey 1px;
  padding: 10px;
}

mat-form-field {
  margin: 10px;
}

btn-inset {
  margin: 10px;
}

mat-icon {
  margin: 10px;
}
