mat-card {
  margin: 15px;
}

mat-list-option {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.work {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  margin: 5px;
}

mat-form-field {
  width: 70%;
}
